{% extends 'base.html' %}
{% block main %}
    <div class="container-fluid">
        <h2 class="section-title position-relative text-uppercase text-center mx-xl-5 mb-4"><span class="bg-secondary pr-3">Rgister/Login</span></h2>
        <div class=" px-xl-5">
            <div class=" mb-5 contact-us" style="">
                <div class="contact-form bg-light p-30">
                    <div id="success"></div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="control-group">
                            {{ form.errors }}
                            {{form.phone}}
                            <p class="help-block text-danger"></p>
                        </div>
                        {% if request.GET.next %}
                        <input type="hidden" name="next" value={{request.GET.next}}>
                        {% endif %}
                        <button type="submit" class="btn btn-primary">Send code</button>
                        {% if request.GET.next %}
                        <a href="{% url "accounts:user_login" %}?next={{request.GET.next|urlencode}}" class="btn btn-primary ">Login with password</a>
                        {% else %}
                        <a href="{% url "accounts:user_login" %}" class="btn btn-primary ">Login with password</a>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}